.offersSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vmax;
  gap: 20px;
}

.offersSection a {
  width: 30%;
}


.offersSection img {
  transition: all 0.5s;
  width: 100%;
}

.offersSection img .offersSection img:hover {
  box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
}

@media (max-width:768px) {
  .offersSection {
    flex-wrap: wrap;
  }
}