.starProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vmax auto;
    gap: 50px;
}

.starProduct>div:last-child {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.starProduct div:first-child img {
    width: 600px;
}

.starProduct img {
    transition: all 0.5s;
    width: 250px;
}

.starProduct img:hover {
    box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
}